@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Trabajo Final Aplicaciones en Web 2017-02</p>

<p>Profesor: Marco Bruggmann</p>

<label>Integrantes:</label>
<address>
    <ul>
        <li><strong>Eduardo Arias</strong></li>
        <li><strong>Herber Valentin</strong></li>
    </ul>
</address>
