@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    Universidad Peruana de Ciencias Aplicadas<br />
    Prolongación Primavera 2390, Cercado de Lima 15023<br />
    <abbr title="Phone">P:</abbr>
    (01) 6303333
</address>

<address>
    <strong>Student:</strong>   <a href="mailto:u201314147@upc.edu.pe">u201314147@upc.edu.pe</a><br />
    <strong>Student:</strong> <a href="mailto:u201521654@upc.edu.pe">u201521654@upc.edu.pe</a>
</address>